{% extends "layout.html" %}
{% block content %}
	<div >
		<div class="row text-center about-box about-content">
			<div class="col-12">
			<h3 class="lead display-4">Λίγα λόγια για εμάς</h3>
			<div class="col-12">
				<p class="lead" style="text-indent: 40px;">
					Η αγάπη μας για τα Βιβλία Φαντασίας αλλά και η ανάγκη μας να μοιραζόμαστε με άλλους τις σκέψεις μας πάνω στα πιο εντυπωσιακά,μαγευτικά και διαχρονικά ταξίδια των βιβλίων αυτού του είδους μας οδήγησε στην δημιουργία της ιστοσελίδας στην οποία τώρα είσαστε επισκέπτης.Θέλουμε να πιστεύουμε ότι μέσα από την ιστοσελίδα μας,όλα τα μέλη της λέσχης μας θα μπορούν ανεξαρτήτου απόστασης να συμμετέχουν στις συζητήσεις μας και να συνεισφέρουν με τις δικές τους απόψεις στην διαρκή αναζήτηση θαυμάσιων Λογοτεχνικών Έργων του Φανταστικού,ώστε να ταξιδέψουμε παρέα στους εντυπωσιακούς κόσμους της δημιουργικότητας και της εφευρετικής σκέψης.
					<br>Η παρούσα ιστοσελίδα δημιουργήθηκε από τον φοιτητή Θεόδωρο Γαλάζιο με στόχο την κάλυψη των αναγκών της λέσχης μας.Αντιλαμβανόμαστε τους κατά τόπους περιορισμούς που ενδέχεται να παρατηρήσατε,ωστόσο να είστε βέβαιοι ότι η προσπάθεια βελτίωσης της δικής μας γωνίας του διαδικτύου είναι συνεχής και αδιάκοπη,σας ευχαριστούμε!</p>
					<p class="mt-3 mr-5"><small>Για περισσότερα μπορείτε να επικοινωνήσετε απευθείας μαζί μας στο email: flesxi_fantasias@gmail.com</small></p>
			</div>
			</div>
		</div>
	</div>
{% endblock content %}