{% extends "layout.html" %}
{% block content %}
	<div class="containter-fluid">
	<div class="row text-center">
		<div class="col-11 welcome-section ml-3" style="min-width: 300px;">
			<h1 class="display-5" style="text-shadow: 2px 2px 15px #222;overflow-wrap: break-word;">Σας Καλωσορίζουμε στην Ιστοσελίδα μας!
			</h1>
			<hr>
			<div class="col-11">
				<p class="lead">Λέσχη Φίλων Βιβλίων Φαντασίας
				</p>
			</div>
		</div>
	</div>	
	</div>
	<br>
	{%for post in posts%}
		<article class="media content-section article-content">
			<img class="rounded-circle article-img low-shadows" src="{{url_for('static',filename='profile_pics/'+post.author.image_file)}}">
			<div class="media-body article-svg">
				<div class="article-metadata article-svg">
					<h4 class="mr-2" >By "{{post.author.username}}"</h4>
						<small class="text-muted">Posted on {{ post.date_posted.strftime("%d/%m/%Y") }}</small>
				</div>
				<h2><a class="article-title low-shadows rounded mr-2" href="{{url_for('post',post_id=post.id)}}">{{post.title}}</a></h2>
				<p class="autoscrolled ml-3">{{post.content}}</p>
			</div>
		</article>
	{%endfor%}

{% endblock content %}